/* Time to trick CSS into thinking that HK Grotesk is Inter!*/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  //font-weight: 400;
  src: url("../fonts/Inter-Regular.otf") format("otf"),
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  //font-weight: 400;
  src: url("../fonts/Inter-Italic.otf") format("otf"),
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  //font-weight: 600;
  src: url("../fonts/Inter-Bold.otf") format("otf"),
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  //font-weight: 600;
  src: url("../fonts/Inter-BoldItalic.otf") format("otf"),
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-display: auto;
  //font-weight: 800;
  src: url("../fonts/Inter-Black.otf") format("otf"),
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-display: auto;
  //*font-weight: 800;
  src: url("../fonts/Inter-BlackItalic.otf") format("otf"),
}
